.read {
    width: 692px;
}

.create {
    width: 243px;
    position: sticky;
    top: 204px;
}

.post {
    width: 692px;
    /* height: 472px; */
    border: 1px solid #CED4DA;
    border-radius: 4px;
    margin-bottom: 16px;
    padding-bottom: 20px;
}

.post img {
    height: 220px;
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
}

.sub-title-box {
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.sub-title {
    width: 600px;
}

.sub-title-box div {
    padding-right: 24px;
}

.description {
    color: #5C5C5C;
    padding-left: 20px;
}

.user-img img {
    width: 48px;
    height: 48px;
}

.user-name h2 {
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
    margin: 0;
}

.user-container {
    padding: 0 20px;
}

.view {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #525252;
}

.share {
    margin-left: 54px;
    height: 36px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEEF0;
    border-radius: 2px;
}

.share svg {
    height: 18px;
    width: 16px;
}
.location{
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.location-message p{
    margin-left: 8.33px;
    font-size: 12px;
}
.location-message{
    color: #868E96;
    margin-top: 32px;
}


/* --------------------------------------------------------------- */
@media (max-width:360px){
    .post{
        width: 360px;
    }
    .title {
        font-size: 14px;
    }
    .sub-title h2{
        font-size: 16px;
    }
    .description{
        font-size: 12px;
    }
    .user-img img{
        height: 36px;
        width: 36px;
    }
    .user-name h2{
        font-size: 13px;
    }
}